
<html>
<head>

	<title>MarketoExpress Yönetim Paneli</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.1/sweetalert2.min.css" integrity="sha512-l1vPIxNzx1pUOKdZEe4kEnWCBzFVVYX5QziGS7zRZE4Gi5ykXrfvUgnSBttDbs0kXe2L06m9+51eadS+Bg6a+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+CE8VM+GAY6g4vBqyIuL/6NXFfawdTC6vP1ST" crossorigin="anonymous"></script>
	
	
</head>
<body>
	<div class="d-flex flex-column flex-shrink-0 mt-2 mb-3 p-3 text-bg-dark" >
		<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">Yönetim Paneli</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a asp-area="" asp-controller="" asp-action="" class="btn btn-outline-warning fw-bold" aria-current="page">
					Ana Sayfa				
				</a>


			</li>
			<li class="nav-item">
				<a asp-controller="Category" asp-action="List" class="nav-link text-white">
					Kategoriler					

				</a>
				
			</li>
			<li class="nav-item">
				<a asp-controller="Product" asp-action="List" class="nav-link text-white">Ürünler								

				</a>
			</li>

		</ul>
		<hr>

	</div>


	<div class="container">
		@RenderBody()
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.1/sweetalert2.min.js" integrity="sha512-lhtxV2wFeGInLAF3yN3WN/2wobmk+HuoWjyr3xgft42IY0xv4YN7Ao8VnYOwEjJH1F7I+fadwFQkVcZ6ege6kA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>


	@await RenderSectionAsync("Scripts", required:false)

</body>
</html>




